In [3]:
pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.10-py3-none-any.whl.metadata (31 kB)
Requirement already satisfied: packaging in c:\users\nprem\anaconda3\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in c:\users\nprem\anaconda3\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\users\nprem\anaconda3\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\nprem\anaconda3\lib\site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nprem\anaconda3\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nprem\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nprem\anaconda3\lib\site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nprem\anaconda3\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\users\nprem\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.10-py3-none-any.whl (63 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.10
Note: you may need to restart the kernel to use updated packages.

In [4]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("samithsachidanandan/netflix-stock-price-2002-2025")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/samithsachidanandan/netflix-stock-price-2002-2025?dataset_version_number=1...

100%|██████████| 99.6k/99.6k [00:00<00:00, 148kB/s]

Extracting files...
Path to dataset files: C:\Users\nprem\.cache\kagglehub\datasets\samithsachidanandan\netflix-stock-price-2002-2025\versions\1

In [5]:
path

'C:\\Users\\nprem\\.cache\\kagglehub\\datasets\\samithsachidanandan\\netflix-stock-price-2002-2025\\versions\\1'

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is CA9B-F22D

 Directory of c:\Users\nprem\OneDrive\Desktop\python prem\vs code

28-03-2025  12.35 PM    <DIR>          .
14-03-2025  04.25 PM    <DIR>          ..
28-03-2025  12.28 PM            62,834 categorical handling qalitaitve.ipynb
28-03-2025  12.35 PM             6,102 data analyst netflix.ipynb
22-03-2025  10.22 AM            87,083 Data Wrangling(train.csv).ipynb
24-03-2025  11.48 AM           152,164 Handled numeric qantitaive data.ipynb
22-03-2025  10.23 AM               298 import requests.py
08-03-2025  11.12 AM             1,652 import tkinter as tk.py
09-03-2025  03.23 PM            48,551 kidney_disease.csv
22-03-2025  10.22 AM         2,737,346 ML.ipynb
14-03-2025  04.34 PM            57,865 ML2.ipynb
28-03-2025  12.33 PM           329,160 Netflix Inc. (NFLX) Stock Price 2002-2025.csv
23-03-2025  01.20 PM            12,898 setup  Box.xlsx
03-03-2025  01.17 PM             1,284 std_info.csv
23-10-2024  11.14 PM           579,972 StudentPerformanceFactors.xlsx
14-03-2025  04.32 PM            61,194 train.csv
              14 File(s)      4,138,403 bytes
               2 Dir(s)  136,995,540,992 bytes free

In [4]:
import numpy as np
import pandas as pd
df=pd.read_csv('Netflix Inc. (NFLX) Stock Price 2002-2025.csv')

In [6]:
df.head(5)

           Date     Open       High       Low     Close Adj Close     Volume
0  Feb 25, 2025     989.4     994.4       955    977.24    977.24  4,733,000
1  Feb 24, 2025  1,008.00  1,015.17    984.48    988.47    988.47  4,426,200
2  Feb 21, 2025  1,029.42  1,032.38    999.39  1,003.15  1,003.15  3,738,700
3  Feb 20, 2025  1,042.00  1,045.00  1,015.59  1,024.54  1,024.54  3,111,800
4  Feb 19, 2025  1,035.18  1,045.00  1,024.51  1,043.33  1,043.33  2,600,000

In [17]:
df.columns

Index(['Date', 'Open ', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [21]:
df.describe()

                Date Open   High   Low Close Adj Close      Volume
count           5729  5729  5727  5727  5727      5727        5727
unique          5727  4092  4114  4113  4164      4164        5560
top     Jul 15, 2015  2.86  4.14  1.61  3.96      3.96  14,634,900
freq               2    14    15    16    14        14           3

In [29]:
df.count()

Open         5729
High         5727
Low          5727
Close        5727
Adj Close    5727
Volume       5727
dtype: int64

In [39]:
df.isnull().sum()

Open         0
High         2
Low          2
Close        2
Adj Close    2
Volume       2
dtype: int64

In [59]:
if 'Date' in df.columns:
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)
else:
    print("Column 'Date' not found in dataset.")

In [57]:
df = pd.read_csv("Netflix Inc. (NFLX) Stock Price 2002-2025.csv", encoding="utf-8")

In [58]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,"Feb 25, 2025",989.4,994.4,955,977.24,977.24,"4,733,000"
1,"Feb 24, 2025","1,008.00","1,015.17",984.48,988.47,988.47,"4,426,200"
2,"Feb 21, 2025","1,029.42","1,032.38",999.39,"1,003.15","1,003.15","3,738,700"
3,"Feb 20, 2025","1,042.00","1,045.00","1,015.59","1,024.54","1,024.54","3,111,800"
4,"Feb 19, 2025","1,035.18","1,045.00","1,024.51","1,043.33","1,043.33","2,600,000"
...,...,...,...,...,...,...,...
5724,"May 30, 2002",1.11,1.11,1.07,1.07,1.07,"10,154,200"
5725,"May 29, 2002",1.16,1.16,1.09,1.1,1.1,"6,757,800"
5726,"May 28, 2002",1.21,1.23,1.16,1.16,1.16,"6,609,400"
5727,"May 24, 2002",1.21,1.23,1.2,1.21,1.21,"11,104,800"
5728,"May 23, 2002",1.16,1.24,1.15,1.2,1.2,"104,790,000"